<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload photo</title>
</head>
<body>
    <div style="display: flex; align-items: center;justify-content: center;flex-direction: column;padding: 20px 40px;background: red;border-radius: 5px;box-shadow: 0 5px 15px black;" class="box">
        <img style="width: 200px;height: 200px;border-radius: 50%;object-fit: cover;border: 5px solid #fff;" src="img/pic5.jpg">
        <label style="padding: 10px;cursor: pointer;background: #7552cc;color: #fff;font-weight: 600;margin: 7px;border-radius: 10px;box-shadow: 0 4px 4px rgb(0, 0, 0,.3);text-transform: uppercase;transition: .5s ease;" for="upload">upload photo</label>
        <input type="file" id="upload" class="input-upload">
    </div>
</body>
</html>