<!--THE MAIN HOMEPAGE-->

{% extends "page-template.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href = "{% static 'css/base.css'%}" >
    <div class="details" >
        <a href="{% url 'home' %}"><img src="{% static 'images/logo.jpeg' %}"></a>
        <h1 class="h1">Welcome!!</h1>
        <h6 class="h6">Are you a passenger or a driver?</h6>
        <a href="{% url 'passenger_login' %}"><button name="Passenger">PASSENGER</button></a>
        <p></p>
        <a href="{% url 'driver_login' %}"><button class="driver" name="Driver"> DRIVER</button></a>
    </div>

{% endblock content %}

